.container {
  border-radius: 8px;
  background-color: #D81E05;
  font-weight: 600;
  color: white;
  cursor: pointer;
  text-decoration-line: none;
  transition: color 300ms ease 0ms, background-color 300ms ease 0ms;
}

.container:hover {
  background-color: #BE0F0F;
  color: white;
}
