.container {
  display: flex;
  width: 100%;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  padding: 1rem;
  position: sticky;
  top: 0;
  background-color: white;
  color: #2d373d;
}

.leftSide {
  display: flex;
  gap: 2rem;
  margin-right: auto;
}

.companyLogo {
  width: 12rem;
  height: auto;
  margin-right: auto;
}

.navLink {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: #526570;
}

.title {
  display: flex;
  align-items: center;
}

.isActive {
  color: #D81E05;
  font-weight: 700;
  text-decoration: underline #D81E05 solid 4px;
  text-underline-offset: 28px;
}

.home {
  display: flex;
  align-items: center;
  margin-right: 1rem;
}
